# PA4

# Peyton Fosnough
# Anaconda Python
# CS-150-01

### a.

#### i. append() - adds a single item to the existing list

In [1]:
names=['Mark','Zach','Chris']

In [2]:
names.append('Jack')
print(names)

['Mark', 'Zach', 'Chris', 'Jack']

#### ii. extend() - adds the specified list elements to the end of the current list

In [4]:
years=[1982,2001,2020]
names.extend(years)
print(names)

['Mark', 'Zach', 'Chris', 'Jack', 1982, 2001, 2020, 1982, 2001, 2020]

#### iii. insert() - inserts an element to the list at the specified index.

In [8]:
numbers=[1,2,3,5]
numbers.insert(3,4)
print(numbers)

[1, 2, 3, 4, 5]

#### iv. remove() - removes the first matching element (which is passed as an argument) from the list

In [9]:
prime_numbers = [2, 3, 5, 7, 9, 11]
prime_numbers.remove(9)
print('Updated List: ', prime_numbers)

Updated List:  [2, 3, 5, 7, 11]

#### v. count() - returns the number of elements with the specified value

In [13]:
fruits = ['apple', 'banana', 'cherry']
x = fruits.count("cherry")
print(x)

1

#### vi. index() - returns the index of the specified element in the list

In [15]:
animals = ['cat', 'dog', 'mouse', 'elephant']
index = animals.index('cat')
print(index)

0

#### vii. pop() - removes the item at the given index from the list and returns the removed item

In [16]:
prime_numbers = [2, 3, 5, 7]
removed_element = prime_numbers.pop(2)
print(removed_element)

5

#### viii. sorted() - sorts the elements of a given list in a specific ascending or descending order

In [18]:
numbers = [11, 3, 7, 5, 2]
sorted(numbers)

[2, 3, 5, 7, 11]

#### ix. copy() - returns a shallow copy of the list

In [19]:
my_list = ['cat', 0, 6.7]
new_list = my_list.copy()
print(new_list)

['cat', 0, 6.7]

#### x. clear() - removes all items from the list

In [20]:
numbers=[2, 3, 5, 7, 9, 11]
numbers.clear()
print(numbers)

[]

#### xi. any() - returns true if any element of an iterable is true.

In [21]:
boolean_list = ['True', 'False', 'True']
result = any(boolean_list)
print(result)

True

#### xii. filter() - extracts elements from an iterable (list, tuple etc.) for which a function returns true

In [23]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def check_even(number):
    if number % 2 == 0:
          return True  
    return False
even_numbers_iterator = filter(check_even, numbers)
even_numbers = list(even_numbers_iterator)
print(even_numbers)

[2, 4, 6, 8, 10]

#### xiii. list() - returns a list

In [24]:
text = 'Python'
text_list = list(text)
print(text_list)
print(type(text_list))

['P', 'y', 't', 'h', 'o', 'n']
<class 'list'>

#### xiv. map() - applies a given function to each item of an iterable (list, tuple etc.) and returns an iterator

In [28]:
numbers = [3, 4, 14, 8, 11]
def square(number):
  return number * number
squared_numbers_iterator = map(square, numbers)
squared_numbers = list(squared_numbers_iterator)
print(squared_numbers)

[9, 16, 196, 64, 121]

## b.

#### i. cmp() - compares elements of two tuples

does not work on python 3

#### ii. len() - returns the number of elements in the tuple

In [30]:
tuple1, tuple2 = (123, 'xyz', 'zara'), (456, 'abc')
print (len(tuple1))
print (len(tuple2))

3
2

#### iii. max() - returns the elements from the tuple with maximum value

In [32]:
tuple1, tuple2 = ('maths', 'che', 'phy', 'bio'), (456, 700, 200)
print (max(tuple1))
print (max(tuple2))

phy
700

#### iv. tuple(seq) - a sequence to be converted into tuple.

In [34]:
List = [123, 'xyz', 'zara', 'abc']
Tuple = tuple(List)
print("Tuple elements : ", Tuple)

Tuple elements :  (123, 'xyz', 'zara', 'abc')